# MAIN PAGE
This process took several context on data manipulation
- Remove Irrelevant Values
- Get Rid of Duplicate Values
- Avoid Typos (and similar errors)
- Convert Data Types
- Take Care of Missing Values

In [ ]:
from google.colab import auth
auth.authenticate_user()
print('Authenticated')

Authenticated

In [ ]:
project_id = 'platinum-goods-352515'

In [ ]:
import pandas as pd

In [ ]:
from google.cloud import bigquery

client = bigquery.Client(project=project_id)

row_count = client.query('''
  SELECT 
    COUNT(*) as total
  FROM `platinum-goods-352515.mle_fazz.311_service_copy_10k`''').to_dataframe().total[0]

df = client.query('''
  SELECT
    *
  FROM
    `platinum-goods-352515.mle_fazz.311_service_copy_10k`
''').to_dataframe()

print('Full dataset has %d rows' % row_count)

Full dataset has 10000 rows

In [ ]:
df.head(3)

,unique_key,created_date,closed_date,agency,agency_name,complaint_type,descriptor,location_type,incident_zip,incident_address,...,vehicle_type,taxi_company_borough,taxi_pickup_location,bridge_highway_name,bridge_highway_direction,road_ramp,bridge_highway_segment,latitude,longitude,location
0,50891081,2021-06-15 11:22:29+00:00,2021-06-17 08:04:37+00:00,DOT,Department of Transportation,Highway Condition,Pothole - Highway,Highway,None,None,...,None,None,None,Harlem River Dr,South/Downtown,Ramp,Entrance ramp from George Washington Bridge,NaN,NaN,None
1,51568466,2021-08-17 23:52:00+00:00,2021-08-20 07:52:00+00:00,DOT,Department of Transportation,Street Light Condition,Street Light Dayburning,None,None,None,...,None,None,None,None,None,None,None,NaN,NaN,None
2,51570967,2021-08-18 09:47:00+00:00,2021-08-17 00:55:00+00:00,DOT,Department of Transportation,Street Light Condition,Street Light Out,None,None,None,...,None,None,None,None,None,None,None,NaN,NaN,None

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 41 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   unique_key                      10000 non-null  int64
 1   created_date                    10000 non-null  datetime64[ns, UTC]
 2   closed_date                     9925 non-null   datetime64[ns, UTC]
 3   agency                          10000 non-null  object
 4   agency_name                     10000 non-null  object
 5   complaint_type                  10000 non-null  object
 6   descriptor                      9998 non-null   object
 7   location_type                   7757 non-null   object
 8   incident_zip                    9878 non-null   object
 9   incident_address                8766 non-null   object
 10  street_name                     8766 non-null   object
 11  cross_street_1                  9309 non-null   object
 12  cross_street_2                  9305 non-null   object
 13  intersection_street_1           1439 non-null   object
 14  intersection_street_2           1438 non-null   object
 15  address_type                    9793 non-null   object
 16  city                            9934 non-null   object
 17  landmark                        158 non-null    object
 18  facility_type                   9778 non-null   object
 19  status                          10000 non-null  object
 20  due_date                        62 non-null     datetime64[ns, UTC]
 21  resolution_description          9974 non-null   object
 22  resolution_action_updated_date  9979 non-null   datetime64[ns, UTC]
 23  community_board                 9998 non-null   object
 24  borough                         9998 non-null   object
 25  x_coordinate                    9958 non-null   float64
 26  y_coordinate                    9958 non-null   float64
 27  park_facility_name              10000 non-null  object
 28  park_borough                    9998 non-null   object
 29  bbl                             8446 non-null   float64
 30  open_data_channel_type          10000 non-null  object
 31  vehicle_type                    0 non-null      object
 32  taxi_company_borough            2 non-null      object
 33  taxi_pickup_location            21 non-null     object
 34  bridge_highway_name             23 non-null     object
 35  bridge_highway_direction        15 non-null     object
 36  road_ramp                       12 non-null     object
 37  bridge_highway_segment          23 non-null     object
 38  latitude                        9958 non-null   float64
 39  longitude                       9958 non-null   float64
 40  location                        9958 non-null   object
dtypes: datetime64[ns, UTC](4), float64(5), int64(1), object(31)
memory usage: 3.1+ MB

In [ ]:
df.columns

Index(['unique_key', 'created_date', 'closed_date', 'agency', 'agency_name',
       'complaint_type', 'descriptor', 'location_type', 'incident_zip',
       'incident_address', 'street_name', 'cross_street_1', 'cross_street_2',
       'intersection_street_1', 'intersection_street_2', 'address_type',
       'city', 'landmark', 'facility_type', 'status', 'due_date',
       'resolution_description', 'resolution_action_updated_date',
       'community_board', 'borough', 'x_coordinate', 'y_coordinate',
       'park_facility_name', 'park_borough', 'bbl', 'open_data_channel_type',
       'vehicle_type', 'taxi_company_borough', 'taxi_pickup_location',
       'bridge_highway_name', 'bridge_highway_direction', 'road_ramp',
       'bridge_highway_segment', 'latitude', 'longitude', 'location'],
      dtype='object')

In [ ]:
df.isnull().sum()

unique_key                            0
created_date                          0
closed_date                          75
agency                                0
agency_name                           0
complaint_type                        0
descriptor                            2
location_type                      2243
incident_zip                        122
incident_address                   1234
street_name                        1234
cross_street_1                      691
cross_street_2                      695
intersection_street_1              8561
intersection_street_2              8562
address_type                        207
city                                 66
landmark                           9842
facility_type                       222
status                                0
due_date                           9938
resolution_description               26
resolution_action_updated_date       21
community_board                       2
borough                               2
x_coordinate                         42
y_coordinate                         42
park_facility_name                    0
park_borough                          2
bbl                                1554
open_data_channel_type                0
vehicle_type                      10000
taxi_company_borough               9998
taxi_pickup_location               9979
bridge_highway_name                9977
bridge_highway_direction           9985
road_ramp                          9988
bridge_highway_segment             9977
latitude                             42
longitude                            42
location                             42
dtype: int64

In [ ]:
df_mod_1 = df.drop(columns=['unique_key'],axis=1)

In [ ]:
df_mod_1.columns

Index(['created_date', 'closed_date', 'agency', 'agency_name',
       'complaint_type', 'descriptor', 'location_type', 'incident_zip',
       'incident_address', 'street_name', 'cross_street_1', 'cross_street_2',
       'intersection_street_1', 'intersection_street_2', 'address_type',
       'city', 'landmark', 'facility_type', 'status', 'due_date',
       'resolution_description', 'resolution_action_updated_date',
       'community_board', 'borough', 'x_coordinate', 'y_coordinate',
       'park_facility_name', 'park_borough', 'bbl', 'open_data_channel_type',
       'vehicle_type', 'taxi_company_borough', 'taxi_pickup_location',
       'bridge_highway_name', 'bridge_highway_direction', 'road_ramp',
       'bridge_highway_segment', 'latitude', 'longitude', 'location'],
      dtype='object')

In [ ]:
pd.unique(df_mod_1['agency'])

array(['DOT', 'DOITT', 'DSNY', 'DHS', 'DCA', 'TLC', 'DPR', 'NYPD', 'DEP',
       'DOB', 'HPD', 'MAYORâ€™S OFFICE OF SPECIAL ENFORCEMENT', 'DOHMH',
       'DFTA'], dtype=object)

In [ ]:
df_mod_1 = df_mod_1.drop(columns=['agency'],axis=1)

In [ ]:
df_mod_2 = df_mod_1.drop(columns=['vehicle_type','taxi_company_borough', 'taxi_pickup_location',
       'bridge_highway_name', 'bridge_highway_direction', 'road_ramp',
       'bridge_highway_segment','due_date','landmark'],axis=1)

In [ ]:
df_mod_2.columns

Index(['created_date', 'closed_date', 'agency_name', 'complaint_type',
       'descriptor', 'location_type', 'incident_zip', 'incident_address',
       'street_name', 'cross_street_1', 'cross_street_2',
       'intersection_street_1', 'intersection_street_2', 'address_type',
       'city', 'facility_type', 'status', 'resolution_description',
       'resolution_action_updated_date', 'community_board', 'borough',
       'x_coordinate', 'y_coordinate', 'park_facility_name', 'park_borough',
       'bbl', 'open_data_channel_type', 'latitude', 'longitude', 'location'],
      dtype='object')

In [ ]:
df_mod_2.head(5)

,created_date,closed_date,agency_name,complaint_type,descriptor,location_type,incident_zip,incident_address,street_name,cross_street_1,...,borough,x_coordinate,y_coordinate,park_facility_name,park_borough,bbl,open_data_channel_type,latitude,longitude,location
0,2021-06-15 11:22:29+00:00,2021-06-17 08:04:37+00:00,Department of Transportation,Highway Condition,Pothole - Highway,Highway,None,None,None,None,...,MANHATTAN,NaN,NaN,Unspecified,MANHATTAN,NaN,PHONE,NaN,NaN,None
1,2021-08-17 23:52:00+00:00,2021-08-20 07:52:00+00:00,Department of Transportation,Street Light Condition,Street Light Dayburning,None,None,None,None,None,...,Unspecified,NaN,NaN,Unspecified,Unspecified,NaN,UNKNOWN,NaN,NaN,None
2,2021-08-18 09:47:00+00:00,2021-08-17 00:55:00+00:00,Department of Transportation,Street Light Condition,Street Light Out,None,None,None,None,None,...,BRONX,NaN,NaN,Unspecified,BRONX,NaN,UNKNOWN,NaN,NaN,None
3,2021-06-15 22:10:32+00:00,2021-06-21 10:48:04+00:00,Department of Information Technology and Telec...,LinkNYC,Damaged/Defective,Sidewalk,None,None,None,None,...,Unspecified,NaN,NaN,Unspecified,Unspecified,NaN,ONLINE,NaN,NaN,None
4,2012-08-31 09:59:00+00:00,2012-08-31 09:59:00+00:00,Department of Transportation,Street Light Condition,Street Light Out,None,None,None,None,None,...,QUEENS,1042357.0,201699.0,Unspecified,QUEENS,NaN,UNKNOWN,40.720103,-73.790376,"(40.72010305201917, -73.79037648278602)"

In [ ]:
df_mod_2.isnull().sum()

created_date                         0
closed_date                         75
agency_name                          0
complaint_type                       0
descriptor                           2
location_type                        0
incident_zip                       122
incident_address                  1234
street_name                       1234
cross_street_1                     691
cross_street_2                     695
intersection_street_1             8561
intersection_street_2             8562
address_type                       207
city                                66
facility_type                      222
status                               0
resolution_description              26
resolution_action_updated_date      21
community_board                      2
borough                              2
x_coordinate                        42
y_coordinate                        42
park_facility_name                   0
park_borough                         2
bbl                               1554
open_data_channel_type               0
latitude                            42
longitude                           42
location                            42
dtype: int64

In [ ]:
# Start filling missing data (string)
df_mod_2['location_type'].fillna('unknown_location',inplace=True)

In [ ]:
df_mod_2['incident_zip'].fillna('unknown_zip',inplace=True)
df_mod_2['incident_address'].fillna('unknown_incident_adress',inplace=True)
df_mod_2['street_name'].fillna('unknown_street_name',inplace=True)
df_mod_2['cross_street_1'].fillna('unknown_cross_street',inplace=True)
df_mod_2['cross_street_2'].fillna('unknown_cross_street',inplace=True)
df_mod_2['intersection_street_1'].fillna('unknown_intersection_1',inplace=True)
df_mod_2['intersection_street_2'].fillna('unknown_intersection_2',inplace=True)
df_mod_2['address_type'].fillna('unknown_address_type',inplace=True)
df_mod_2['city'].fillna('unknown_city',inplace=True)
df_mod_2['facility_type'].fillna('unknown_facility',inplace=True)

In [ ]:
df_mod_2.isnull().sum()

created_date                         0
closed_date                         75
agency_name                          0
complaint_type                       0
descriptor                           2
location_type                        0
incident_zip                         0
incident_address                     0
street_name                          0
cross_street_1                       0
cross_street_2                       0
intersection_street_1                0
intersection_street_2                0
address_type                         0
city                                 0
facility_type                        0
status                               0
resolution_description              26
resolution_action_updated_date      21
community_board                      2
borough                              2
x_coordinate                        42
y_coordinate                        42
park_facility_name                   0
park_borough                         2
bbl                               1554
open_data_channel_type               0
latitude                            42
longitude                           42
location                            42
dtype: int64

In [ ]:
# filling missing data (number)
df_mod_2['bbl'].fillna(0,inplace=True)
df_mod_2['latitude'].fillna(0,inplace=True)
df_mod_2['longitude'].fillna(0,inplace=True)
df_mod_2['x_coordinate'].fillna(0,inplace=True)
df_mod_2['y_coordinate'].fillna(0,inplace=True)

In [ ]:
df_mod_2.isnull().sum()

created_date                       0
closed_date                       75
agency_name                        0
complaint_type                     0
descriptor                         2
location_type                      0
incident_zip                       0
incident_address                   0
street_name                        0
cross_street_1                     0
cross_street_2                     0
intersection_street_1              0
intersection_street_2              0
address_type                       0
city                               0
facility_type                      0
status                             0
resolution_description            26
resolution_action_updated_date    21
community_board                    2
borough                            2
x_coordinate                       0
y_coordinate                       0
park_facility_name                 0
park_borough                       2
bbl                                0
open_data_channel_type             0
latitude                           0
longitude                          0
location                          42
dtype: int64

In [ ]:
df_mod_2['cross_street'] = df_mod_2['cross_street_1'].str.cat(df_mod_2['cross_street_2'],sep=",")

In [ ]:
df_mod_2['intersection_street'] = df_mod_2['intersection_street_1'].str.cat(df_mod_2['intersection_street_2'],sep=",")

In [ ]:
df_mod_2['xy_coordinate'] = df_mod_2['x_coordinate'].astype(str)+','+df_mod_2['y_coordinate'].astype(str)

In [ ]:
df_mod_2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 33 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   created_date                    10000 non-null  datetime64[ns, UTC]
 1   closed_date                     9925 non-null   datetime64[ns, UTC]
 2   agency_name                     10000 non-null  object
 3   complaint_type                  10000 non-null  object
 4   descriptor                      9998 non-null   object
 5   location_type                   10000 non-null  object
 6   incident_zip                    10000 non-null  object
 7   incident_address                10000 non-null  object
 8   street_name                     10000 non-null  object
 9   cross_street_1                  10000 non-null  object
 10  cross_street_2                  10000 non-null  object
 11  intersection_street_1           10000 non-null  object
 12  intersection_street_2           10000 non-null  object
 13  address_type                    10000 non-null  object
 14  city                            10000 non-null  object
 15  facility_type                   10000 non-null  object
 16  status                          10000 non-null  object
 17  resolution_description          9974 non-null   object
 18  resolution_action_updated_date  9979 non-null   datetime64[ns, UTC]
 19  community_board                 9998 non-null   object
 20  borough                         9998 non-null   object
 21  x_coordinate                    10000 non-null  float64
 22  y_coordinate                    10000 non-null  float64
 23  park_facility_name              10000 non-null  object
 24  park_borough                    9998 non-null   object
 25  bbl                             10000 non-null  float64
 26  open_data_channel_type          10000 non-null  object
 27  latitude                        10000 non-null  float64
 28  longitude                       10000 non-null  float64
 29  location                        9958 non-null   object
 30  cross_street                    10000 non-null  object
 31  intersection_street             10000 non-null  object
 32  xy_coordinate                   10000 non-null  object
dtypes: datetime64[ns, UTC](3), float64(5), object(25)
memory usage: 2.5+ MB

In [ ]:
df_mod_3 = df_mod_2.drop(columns=['cross_street_1','cross_street_2','intersection_street_1','intersection_street_2','latitude','longitude','x_coordinate','y_coordinate'],axis=1)

In [ ]:
df_mod_3.iloc[:,0]

0      2021-06-15 11:22:29+00:00
1      2021-08-17 23:52:00+00:00
2      2021-08-18 09:47:00+00:00
3      2021-06-15 22:10:32+00:00
4      2012-08-31 09:59:00+00:00
                  ...
9995   2012-11-03 00:00:00+00:00
9996   2012-11-30 00:00:00+00:00
9997   2012-12-01 00:00:00+00:00
9998   2012-12-24 00:00:00+00:00
9999   2012-12-24 00:00:00+00:00
Name: created_date, Length: 10000, dtype: datetime64[ns, UTC]

In [ ]:
df_mod_3.rename(columns = {'created_date':'created_dt'},inplace=True)
df_mod_3['created_date'] = df_mod_3['created_dt'].dt.date
df_mod_3['created_time'] = df_mod_3['created_dt'].dt.time

In [ ]:
df_mod_3.rename(columns = {'closed_date':'closed_dt'},inplace=True)
df_mod_3['closed_date'] = df_mod_3['closed_dt'].dt.date
df_mod_3['closed_time'] = df_mod_3['closed_dt'].dt.time

In [ ]:
df_mod_3 = df_mod_3.drop(columns=['created_dt','closed_dt'],axis=1)

In [ ]:
df_mod_3.head(5)

,agency_name,complaint_type,descriptor,location_type,incident_zip,incident_address,street_name,address_type,city,facility_type,...,bbl,open_data_channel_type,location,cross_street,intersection_street,xy_coordinate,created_date,created_time,closed_date,closed_time
0,Department of Transportation,Highway Condition,Pothole - Highway,Highway,unknown_zip,unknown_incident_adress,unknown_street_name,unknown_address_type,unknown_city,unknown_facility,...,0.0,PHONE,None,"unknown_cross_street,unknown_cross_street","unknown_intersection_1,unknown_intersection_2","0.0,0.0",2021-06-15,11:22:29,2021-06-17,08:04:37
1,Department of Transportation,Street Light Condition,Street Light Dayburning,unkown_location,unknown_zip,unknown_incident_adress,unknown_street_name,INTERSECTION,unknown_city,unknown_facility,...,0.0,UNKNOWN,None,"unknown_cross_street,unknown_cross_street","CLAY PITT RD,VETERANS RD E","0.0,0.0",2021-08-17,23:52:00,2021-08-20,07:52:00
2,Department of Transportation,Street Light Condition,Street Light Out,unkown_location,unknown_zip,unknown_incident_adress,unknown_street_name,INTERSECTION,unknown_city,unknown_facility,...,0.0,UNKNOWN,None,"unknown_cross_street,unknown_cross_street","SCHIEFFELIN PL,229 ST E","0.0,0.0",2021-08-18,09:47:00,2021-08-17,00:55:00
3,Department of Information Technology and Telec...,LinkNYC,Damaged/Defective,Sidewalk,unknown_zip,unknown_incident_adress,unknown_street_name,unknown_address_type,unknown_city,unknown_facility,...,0.0,ONLINE,None,"unknown_cross_street,unknown_cross_street","unknown_intersection_1,unknown_intersection_2","0.0,0.0",2021-06-15,22:10:32,2021-06-21,10:48:04
4,Department of Transportation,Street Light Condition,Street Light Out,unkown_location,unknown_zip,unknown_incident_adress,unknown_street_name,INTERSECTION,QUEENS,N/A,...,0.0,UNKNOWN,"(40.72010305201917, -73.79037648278602)","unknown_cross_street,unknown_cross_street","UTOPIA PARKWAY,GRAND CENTRAL PARKWAY","1042357.0,201699.0",2012-08-31,09:59:00,2012-08-31,09:59:00

In [ ]:
df_mod_3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 27 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   agency_name                     10000 non-null  object
 1   complaint_type                  10000 non-null  object
 2   descriptor                      9998 non-null   object
 3   location_type                   10000 non-null  object
 4   incident_zip                    10000 non-null  object
 5   incident_address                10000 non-null  object
 6   street_name                     10000 non-null  object
 7   address_type                    10000 non-null  object
 8   city                            10000 non-null  object
 9   facility_type                   10000 non-null  object
 10  status                          10000 non-null  object
 11  resolution_description          9974 non-null   object
 12  resolution_action_updated_date  9979 non-null   datetime64[ns, UTC]
 13  community_board                 9998 non-null   object
 14  borough                         9998 non-null   object
 15  park_facility_name              10000 non-null  object
 16  park_borough                    9998 non-null   object
 17  bbl                             10000 non-null  float64
 18  open_data_channel_type          10000 non-null  object
 19  location                        9958 non-null   object
 20  cross_street                    10000 non-null  object
 21  intersection_street             10000 non-null  object
 22  xy_coordinate                   10000 non-null  object
 23  created_date                    10000 non-null  object
 24  created_time                    10000 non-null  object
 25  closed_date                     9925 non-null   object
 26  closed_time                     9925 non-null   object
dtypes: datetime64[ns, UTC](1), float64(1), object(25)
memory usage: 2.1+ MB

# UPLOAD

In [ ]:
df_mod_3.to_csv("./result.csv")

In [ ]:
df = pd.read_csv('./result.csv')

In [ ]:
df = df.iloc[:,1:]

In [ ]:
df.head(3)

,agency_name,complaint_type,descriptor,location_type,incident_zip,incident_address,street_name,address_type,city,facility_type,...,bbl,open_data_channel_type,location,cross_street,intersection_street,xy_coordinate,created_date,created_time,closed_date,closed_time
0,Department of Transportation,Highway Condition,Pothole - Highway,Highway,unknown_zip,unknown_incident_adress,unknown_street_name,unknown_address_type,unknown_city,unknown_facility,...,0.0,PHONE,NaN,"unknown_cross_street,unknown_cross_street","unknown_intersection_1,unknown_intersection_2","0.0,0.0",2021-06-15,11:22:29,2021-06-17,08:04:37
1,Department of Transportation,Street Light Condition,Street Light Dayburning,unkown_location,unknown_zip,unknown_incident_adress,unknown_street_name,INTERSECTION,unknown_city,unknown_facility,...,0.0,UNKNOWN,NaN,"unknown_cross_street,unknown_cross_street","CLAY PITT RD,VETERANS RD E","0.0,0.0",2021-08-17,23:52:00,2021-08-20,07:52:00
2,Department of Transportation,Street Light Condition,Street Light Out,unkown_location,unknown_zip,unknown_incident_adress,unknown_street_name,INTERSECTION,unknown_city,unknown_facility,...,0.0,UNKNOWN,NaN,"unknown_cross_street,unknown_cross_street","SCHIEFFELIN PL,229 ST E","0.0,0.0",2021-08-18,09:47:00,2021-08-17,00:55:00

In [ ]:
#upload gbq
import pandas_gbq

table_id = "mle_fazz.test_cleaned_311_copy_10K"

job_location = "US"

pandas_gbq.to_gbq(df_mod_3,table_id,project_id,if_exists='replace',
          location=job_location, progress_bar=True)

1it [00:04,  4.69s/it]