# MAIN PAGE
This process took several context on data manipulation
- Remove Irrelevant Values
- Get Rid of Duplicate Values
- Avoid Typos (and similar errors)
- Convert Data Types
- Take Care of Missing Values

In [ ]:
from google.colab import auth
auth.authenticate_user()
print('Authenticated')

Authenticated

In [ ]:
project_id = 'platinum-goods-352515'

In [ ]:
import pandas as pd

In [ ]:
from google.cloud import bigquery

client = bigquery.Client(project=project_id)

row_count = client.query('''
  SELECT 
    COUNT(*) as total
  FROM `platinum-goods-352515.mle_fazz.fcc_political_ads_broadcast_copy`''').to_dataframe().total[0]

df = client.query('''
  SELECT
    *
  FROM
    `platinum-goods-352515.mle_fazz.fcc_political_ads_broadcast_copy`
''').to_dataframe()

print('Full dataset has %d rows' % row_count)

Full dataset has 17910 rows

In [ ]:
df.head(3)

,stationId,callSign,service,rfChannel,virtualChannel,licenseExpirationDate,statusDate,status,communityCity,communityState,...,partyZip2,partyState,partyPhone,nielsenDma,networkAfil,band,authAppId,postCardId,mainStudioContact,ccContact
0,35693,KTVI,Digital TV,33,2,02/01/2022,06/16/2009,LICENSED,ST. LOUIS,MO,...,None,TX,(972)373-8800,ST. LOUIS,FOX,UHF,2035699,None,"{'address1': '2250 Ball Drive', 'address2': No...","{'address1': 'KTVI', 'address2': '2250 Ball Dr..."
1,52808,KRCK-FM,FM Station,249,None,12/01/2021,06/28/2002,LICENSED,MECCA,CA,...,None,WY,(410)799-1740,None,None,None,1737967,None,"{'address1': None, 'address2': None, 'city': N...","{'address1': None, 'address2': None, 'city': N..."
2,68833,WOYE,FM Station,247,None,02/01/2028,07/24/2003,LICENSED,RIO GRANDE,PR,...,None,PR,(787)722-0973,None,None,None,1684659,None,{'address1': '1606 Ave Ponce De Leon Suite 110...,"{'address1': None, 'address2': None, 'city': N..."

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17910 entries, 0 to 17909
Data columns (total 29 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   stationId              17910 non-null  object
 1   callSign               17910 non-null  object
 2   service                17910 non-null  object
 3   rfChannel              13210 non-null  object
 4   virtualChannel         1903 non-null   object
 5   licenseExpirationDate  17907 non-null  object
 6   statusDate             9334 non-null   object
 7   status                 17910 non-null  object
 8   communityCity          17910 non-null  object
 9   communityState         17910 non-null  object
 10  facilityType           17910 non-null  object
 11  frequency              17910 non-null  object
 12  activeInd              17910 non-null  object
 13  scannedLetterIds       917 non-null    object
 14  partyName              17910 non-null  object
 15  partyAddress1          17908 non-null  object
 16  partyAddress2          5899 non-null   object
 17  partyCity              17910 non-null  object
 18  partyZip1              17910 non-null  object
 19  partyZip2              2976 non-null   object
 20  partyState             17910 non-null  object
 21  partyPhone             14744 non-null  object
 22  nielsenDma             1764 non-null   object
 23  networkAfil            1770 non-null   object
 24  band                   2187 non-null   object
 25  authAppId              17790 non-null  object
 26  postCardId             13091 non-null  object
 27  mainStudioContact      17910 non-null  object
 28  ccContact              17910 non-null  object
dtypes: object(29)
memory usage: 4.0+ MB

In [ ]:
df['activeInd'].value_counts()

Y    17596
N      314
Name: activeInd, dtype: int64

In [ ]:
df.isnull().sum()

stationId                    0
callSign                     0
service                      0
rfChannel                 4700
virtualChannel           16007
licenseExpirationDate        3
statusDate                8576
status                       0
communityCity                0
communityState               0
facilityType                 0
frequency                    0
activeInd                    0
scannedLetterIds         16993
partyName                    0
partyAddress1                2
partyAddress2            12011
partyCity                    0
partyZip1                    0
partyZip2                14934
partyState                   0
partyPhone                3166
nielsenDma               16146
networkAfil              16140
band                     15723
authAppId                  120
postCardId                4819
mainStudioContact            0
ccContact                    0
dtype: int64

In [ ]:
# Modification 1 : removing potential unused feature and based on largest empty value
df_mod_1 = df.drop(columns=['stationId','callSign','nielsenDma','networkAfil','band'],axis=1)

In [ ]:
df_mod_1.columns

Index(['service', 'rfChannel', 'virtualChannel', 'licenseExpirationDate',
       'statusDate', 'status', 'communityCity', 'communityState',
       'facilityType', 'frequency', 'activeInd', 'scannedLetterIds',
       'partyName', 'partyAddress1', 'partyAddress2', 'partyCity', 'partyZip1',
       'partyZip2', 'partyState', 'partyPhone', 'authAppId', 'postCardId',
       'mainStudioContact', 'ccContact'],
      dtype='object')

In [ ]:
df_mod_1.isnull().sum()

service                      0
rfChannel                    0
virtualChannel               0
licenseExpirationDate        3
statusDate                8576
status                       0
communityCity                0
communityState               0
facilityType                 0
frequency                    0
activeInd                    0
scannedLetterIds         16993
partyName                    0
partyAddress1                0
partyAddress2                0
partyCity                    0
partyZip1                    0
partyZip2                    0
partyState                   0
partyPhone                3166
authAppId                  120
postCardId                4819
mainStudioContact            0
ccContact                    0
dtype: int64

In [ ]:
# Start filling missing data (string)
df_mod_1['rfChannel'].fillna('0',inplace=True)
df_mod_1['virtualChannel'].fillna('0',inplace=True)

In [ ]:
df_mod_1.head(2)

,service,rfChannel,virtualChannel,licenseExpirationDate,statusDate,status,communityCity,communityState,facilityType,frequency,...,partyAddress2,partyCity,partyZip1,partyZip2,partyState,partyPhone,authAppId,postCardId,mainStudioContact,ccContact
0,Digital TV,33,2,02/01/2022,06/16/2009,LICENSED,ST. LOUIS,MO,CDT,584.0,...,"545 E. JOHN CARPENTER FREEWAY, SUITE 700",IRVING,7,None,TX,(972)373-8800,2035699,None,"{'address1': '2250 Ball Drive', 'address2': No...","{'address1': 'KTVI', 'address2': '2250 Ball Dr..."
1,FM Station,249,0,12/01/2021,06/28/2002,LICENSED,MECCA,CA,H,97.7,...,None,CODY,8,None,WY,(410)799-1740,1737967,None,"{'address1': None, 'address2': None, 'city': N...","{'address1': None, 'address2': None, 'city': N..."

Warning: Total number of columns (24) exceeds max_columns (20) limiting to first (20) columns.

In [ ]:
df_mod_1['partyAddress1'].fillna('unknown_address',inplace=True)
df_mod_1['partyAddress2'].fillna('unknown_address',inplace=True)
df_mod_1['partyZip2'].fillna('0',inplace=True)

In [ ]:
#Merging some feature
df_mod_1['party_Address'] = df_mod_1['partyAddress1'].str.cat(df_mod_1['partyAddress2'],sep=",")

In [ ]:
df_mod_1['party_Zip'] = df_mod_1['partyZip1'].str.cat(df_mod_1['partyZip2'],sep=",")

In [ ]:
df_mod_2 = df_mod_1.drop(columns=['partyAddress1','partyAddress2','partyZip1','partyZip2','scannedLetterIds'],axis=1)

In [ ]:
df_mod_2.head(2)

,service,rfChannel,virtualChannel,licenseExpirationDate,statusDate,status,communityCity,communityState,facilityType,frequency,...,partyState,partyPhone,authAppId,postCardId,mainStudioContact,ccContact,cross_street,party_Address,party_Zip,loadedAt
0,Digital TV,33,2,2022-02-01,2009-06-16,LICENSED,ST. LOUIS,MO,CDT,584.0,...,TX,(972)373-8800,2035699,None,"{'address1': '2250 Ball Drive', 'address2': No...","{'address1': 'KTVI', 'address2': '2250 Ball Dr...","C/O NEXSTAR MEDIA GROUP, INC.,545 E. JOHN CARP...","C/O NEXSTAR MEDIA GROUP, INC.,545 E. JOHN CARP...","7,0",2022-07-06
1,FM Station,249,0,2021-12-01,2002-06-28,LICENSED,MECCA,CA,H,97.7,...,WY,(410)799-1740,1737967,None,"{'address1': None, 'address2': None, 'city': N...","{'address1': None, 'address2': None, 'city': N...","199 CARTER VIEW DR.,unknown_address","199 CARTER VIEW DR.,unknown_address","8,0",2022-07-06

In [ ]:
df_mod_2['rfChannel'] = df_mod_2['rfChannel'].astype(int)
df_mod_2['virtualChannel'] = df_mod_2['virtualChannel'].astype(int)

In [ ]:
df_mod_2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17910 entries, 0 to 17909
Data columns (total 23 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   service                17910 non-null  object
 1   rfChannel              17910 non-null  int64
 2   virtualChannel         17910 non-null  int64
 3   licenseExpirationDate  17907 non-null  object
 4   statusDate             9334 non-null   object
 5   status                 17910 non-null  object
 6   communityCity          17910 non-null  object
 7   communityState         17910 non-null  object
 8   facilityType           17910 non-null  object
 9   frequency              17910 non-null  object
 10  activeInd              17910 non-null  object
 11  partyName              17910 non-null  object
 12  partyCity              17910 non-null  object
 13  partyState             17910 non-null  object
 14  partyPhone             14744 non-null  object
 15  authAppId              17790 non-null  object
 16  postCardId             13091 non-null  object
 17  mainStudioContact      17910 non-null  object
 18  ccContact              17910 non-null  object
 19  cross_street           17910 non-null  object
 20  party_Address          17910 non-null  object
 21  party_Zip              17910 non-null  object
 22  loadedAt               17910 non-null  object
dtypes: int64(2), object(21)
memory usage: 3.1+ MB

In [ ]:
df_mod_2['licenseExpirationDate'] = df_mod_2['licenseExpirationDate'].astype('datetime64[ns]')
df_mod_2['statusDate'] = df_mod_2['statusDate'].astype('datetime64[ns]')

In [ ]:
df_mod_2['licenseExpirationDate'] = df_mod_2['licenseExpirationDate'].dt.date
df_mod_2['statusDate'] = df_mod_2['statusDate'].dt.date

In [ ]:
df_mod_2['loadedAt'] = '07/06/2022'

In [ ]:
df_mod_2['loadedAt'] = df_mod_2['loadedAt'].astype('datetime64[ns]')

In [ ]:
df_mod_2['loadedAt'] = df_mod_2['loadedAt'].dt.date

# UPLOAD

In [ ]:
df_mod_2.to_csv("./result_fcc.csv")

In [ ]:
#upload gbq
import pandas_gbq

table_id = "mle_fazz.test_construct_fcc_political_ads_copy"

job_location = "US"

pandas_gbq.to_gbq(df_mod_2,table_id,project_id,if_exists='replace',
          location=job_location, progress_bar=True)

1it [00:13, 13.50s/it]